nbproject/
.vscode/
.idea/
web/instance/flask.cfg
/nbproject
__pycache__/
web/instance/mobile_applications/*
!web/instance/mobile_applications/.gitkeep
web/instance/users_data/*
!web/instance/users_data/.gitkeep
web/instance/temp_train_data/*
!web/instance/temp_train_data/.gitkeep
web/instance/scripts/init_users.txt