{% extends "layout.html" %}
{% from "_form_macros.html" import render_field_without_label %}

{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>New Patient</h2>
  </div>

  <p>Do you really want to insert a new patient?</p>
  <form action="{{ url_for('user.new_patient') }}" method="POST">
  {{ form.csrf_token }}
    <dl>
    </dl>
    <button class="btn btn-sm btn-success" type="submit">Confirm</button>
    <a class="btn btn-sm bt-default" href="{{current_user.get_homepage()}}">Cancel</a>
  </form>
</div>

{% endblock %}
