{% extends "layout.html" %} {% from "_form_macros.html" import render_field %} {% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>User Profile</h2>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">Username</div>
        <div class="panel-body">
          {{user.get_username()}}
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Account Actions</div>
        {% if user.role != user.PATIENT %}
        <div class="panel-body">
          <a href="{{ url_for('user.user_email_change', id=user.id) }}">Change Email Address</a>
        </div>
        {% endif %} {% if user.role != user.PATIENT %}
        <div class="panel-body">
          <a href="{{ url_for('user.user_password_change', id=user.id) }}">Change Password</a>
        </div>
        {% endif %}
        <div class="panel-body">
          <a href="{{ url_for('user.api_key_reset', id=user.id) }}">Reset api key</a>
        </div>
      </div>

      <div class="panel panel-info">
        <div class="panel-heading">Info</div>
        <div class="panel-body">api key: {{user.api_key}}</div>
        <div class="panel-body">Inserted on: {{ user.registered_on | datetime }}</div>
        <div class="panel-body">Last login: {{ user.current_logged_in | datetime }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}